<div id="home-head">
    <div id="home-background" style="background-image: url(<%- theme.home_background %>)"></div>
    <% if (theme.head_block_enable) { %>
        <div id="home-info" class="home-info" @click="home_click">
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="loop"></span>
            <span class="info">
            <div class="wrap">
                <h1><%= config.title %></h1>
                <div style="text-align:center;font-size:2rem;">
                    <strong id="typed3"></strong>
                </div>
            </div>
            </span>
        </div>
    <% } %>
</div>

<% wrapClass = theme.card.enable ? "" : "home-posts-wrap-no-card"; %>
<div id="home-posts-wrap" class="<%- wrapClass %>">
    <div id="home-posts">
        <div id="posts">
            <%- include("posts") %>
            <%- include("current") %>
        </div>
    </div>

    <div id="home-card">
        <%- include("card") %>
    </div>
</div>
